.container__beer-tiles--beercard{
  margin: 10px;
  border: 2px solid black;
  width: 400px;
  color: black;
  // line-height: 5px;
  word-wrap: normal;
  padding: 10px;
  
}

h4 {
  font-style: italic;
  // line-height: 2px;
}

img {
  width: 100px;
}