@font-face {
  font-family:"Punk";
  src: url("../src/assets/Funkrocker.otf") format("truetype");
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 90%;
  background-color: rgba(14,12,12,255);
  color: rgba(254,254,254,255);
  background-image: url(../src/assets/viv.png);
  background-repeat: no-repeat;
  background-position: right top;
}



.container {
  display: flex;
  flex-direction: column;
}

.welcomebar {
  padding: 10px;
  text-align: center;
  
  
  h1 {
    font-family: "Punk", sans-serif;
    font-size: 5rem;
    color: rgba(219,234,183,255);
}

  h2 {
    margin-top: 10px;
    font-size: 30px;
    color: rgba(219,234,183,255);
    font-style: italic;
  }
}

.navbar {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 5px;
  color: rgba(219,234,183,255);
}

.beercount {
  display: flex;
  justify-content: center;
  padding: 5px;
  margin-bottom: 5px;
}

.searchbanner {
  // border: 2px solid blue;

  margin: auto;
  padding-bottom: 5px;


  input {
    font-size: 20px;
    width: 500px;
    padding: 5px;
    border: 2px solid rgba(219,234,183,255);
    border-radius: 8px;

  }
}

.beertiles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  // border: 2px solid red;

}

@media only screen and (max-width: 768px) {
  body {
    width: 100%;
    background-color: rgba(14,12,12,255);
    color: rgba(254,254,254,255);
    background-image: url(../src/assets/-bw.png);
    background-repeat: no-repeat;
    background-position: right top;
    
  }

  .welcomebar {
    padding: 10px;
    text-align: center;
    
    
    h1 {
      font-family: "Punk", sans-serif;
      font-size: 22px;
      color: rgba(219,234,183,255);
  }
  
    h2 {
      margin-top: 10px;
      font-size: 25px;
      color: rgba(219,234,183,255);
      font-style: italic;
    }
  }

  .searchbanner {
    // border: 2px solid blue;
  
    margin: auto;
    padding-bottom: 5px;
  

  
    input {
      font-size: 20px;
      width: 350px;
      padding: 5px;
      border: 2px solid purple;
      border-radius: 8px;
  
    }
  }

  .navbar {
    display: flex;
    flex-direction: column;

    text-align: center;
    padding: 5px;
    color: rgba(219,234,183,255);
  }

}




