* {
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 90%;
  background-color: rgba(14,12,12,255);
  color: rgba(254,254,254,255);
  background-image: url(../src/assets/viv.png);
  background-repeat: no-repeat;
  background-position: right top;
}

.container {
  display: flex;
  flex-direction: column;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.searchbanner {
  // border: 2px solid blue;

  margin: auto;

  label {
    font-size: 30px;
    margin-right: 10px;
  }

  input {
    font-size: 20px;
    width: 500px;
    padding: 5px;
    border: 2px solid purple;
    border-radius: 8px;

  }
}

.beertiles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  // border: 2px solid red;

}




